[submodule "frameworks"]
	path = frameworks
	url = https://github.com/wekeo/frameworks.git
	shallow = true
	branch = main
[submodule "working-with-python"]
	path = working-with-python
	url = https://github.com/wekeo/working-with-python.git
	shallow = true
	branch = main
[submodule "3_courses/msoc/submodules/learn-olci"]
	path = 3_courses/msoc/submodules/learn-olci
	url = https://gitlab.eumetsat.int/eumetlab/oceans/ocean-training/sensors/learn-olci.git
	shallow = true
	branch = main
[submodule "3_courses/msoc/submodules/ThoMaS"]
	path = 3_courses/msoc/submodules/ThoMaS
	url = https://gitlab.eumetsat.int/eumetlab/oceans/ocean-science-studies/ThoMaS.git
	shallow = true
	branch = main
[submodule "3_courses/msoc/submodules/pace-2025"]
	path = 3_courses/msoc/submodules/pace-2025
	url = https://github.com/PACEHackWeek/pace-2025
	shallow = true
	branch = main
[submodule "3_courses/msoc/submodules/oceandata-notebooks"]
	path = 3_courses/msoc/submodules/oceandata-notebooks
	url = https://github.com/nasa/oceandata-notebooks.git
	shallow = true
	branch = main